<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>blink.ly</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>

<div class="row">
    <div class="large-12 columns">
        <h1 class="header text-center">BL!NK</h1>
        <div class="row">
            <div class="large-9 small-centered columns main">
                <p class="text-center meh">
                    The first-ever staring contest app w/ eye detection, written on Android! <br/>
                    Built on Firebase, Open tok, and a mix of homebrew CV <br />
                    <a href="/leaderboard">Leaderboard</a>
                </p>
                <p class="text-center">
                    <img src="/img/phone.png">
                </p>
                <p class="text-center">
                    a <a href="https://twitter.com/search?src=typd&q=%23greylockhackfest" target="_blank">#greylockhackfest</a> project by <a href="https://twitter.com/binroot" target="_blank">@binroot</a>, <a href="https://twitter.com/vivekpanyam" target="_blank">@vivekpanyam</a>, and <a href="https://twitter.com/jasdev" target="_blank">@jasdev</a>
                </p>
                <p class="text-center">
                    <a href="">
                        <img alt="Android app on Google Play"
                             src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
            '.js><\/script>')
</script>

<script src="/js/foundation.min.js"></script>
<!--

<script src="js/foundation/foundation.js"></script>

<script src="js/foundation/foundation.alerts.js"></script>

<script src="js/foundation/foundation.clearing.js"></script>

<script src="js/foundation/foundation.cookie.js"></script>

<script src="js/foundation/foundation.dropdown.js"></script>

<script src="js/foundation/foundation.forms.js"></script>

<script src="js/foundation/foundation.joyride.js"></script>

<script src="js/foundation/foundation.magellan.js"></script>

<script src="js/foundation/foundation.orbit.js"></script>

<script src="js/foundation/foundation.reveal.js"></script>

<script src="js/foundation/foundation.section.js"></script>

<script src="js/foundation/foundation.tooltips.js"></script>

<script src="js/foundation/foundation.topbar.js"></script>

<script src="js/foundation/foundation.interchange.js"></script>

<script src="js/foundation/foundation.placeholder.js"></script>

-->

<script>
    $(document).foundation();
</script>

</body>
</html>